<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
    <add name="abc" connectionString="Data Source=HARRISONNGUYEN\MSSQLSERVER2K2;Initial Catalog=QLBanHang#;Integrated Security=True;Trust Server Certificate=True"/>
    </connectionStrings>
</configuration>
